<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
    <title>new password</title>
</head>

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    ISSUING A NEW PASSWORD
                </div>
                <div class="card-body">
                    <p>
                        A new password will be sent to your email.<br>
                        Use it to log in and after login you can change it.
                    </p>
                    <form id="registerForm" action="/member/password" method="post">
                        <table>
                            <tr>
                                <td><span class="input-group-text">Email Address</span></td>
                                <td><input type="text" id="email" name="email" class="form-control"></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" class="btn btn-primary submitBtn" value="Send" onClick="return check()"/>
                                    <button type="reset" class="btn btn-secondary">Reset</button>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </table>
                    </form>
                    <div id="msg"></div>
                </div><!--end card body-->
            </div><!--end card-->
        </div>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">
    const mainMsg = [[${msg}]]

    if(mainMsg){
        alert(mainMsg);
    }

    const email = document.getElementById("email");
    const msg = document.getElementById("msg");

    function emailCheck(email_address){
        email_regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;
        if(!email_regex.test(email_address)){
            return false;
        }else{
            return true;
        }
    }

    const check = function() {
        if(!emailCheck(email.value)){
            msg.innerHTML = "The given email address is not a correct one!";
            email.focus();
            return false;
        }
    }

    const clear = function() {
        msg.innerHTML = "";
    }

    email.onkeydown = clear;
</script>

