<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Post List &nbsp;
                    <form action="/post/list" method="get" style="display:inline-block">
                        <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <select class="form-select" name="sort">
                                    <option value="">---</option>
                                    <option value="t" th:selected="${pageRequestDTO.sort =='t'}">Title</option>
                                    <option value="c" th:selected="${pageRequestDTO.sort =='c'}">Content</option>
                                    <option value="w" th:selected="${pageRequestDTO.sort =='w'}">Writer</option>
                                    <option value="tc" th:selected="${pageRequestDTO.sort =='tc'}">Title+Content</option>
                                    <option value="tcw" th:selected="${pageRequestDTO.sort =='tcw'}">Title+Content+Writer</option>
                                </select>
                            </div>
                            <input type="text" class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary searchBtn" type="submit">Search</button>
                                <button class="btn btn-outline-secondary clearBtn" type="button">Clear</button>
                                <a th:href="|@{/post/register}?${pageRequestDTO.getLink()}|" class="btn btn-info">Add Post</a>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Type</th>
                            <th scope="col">Title</th>
                            <th scope="col">Writer</th>
                            <th scope="col">Creation Time</th>
                        </tr>
                        </thead>

                        <tbody th:with="link=${pageRequestDTO.getLink()}">
                        <tr th:each="dto:${responseDTO.dtoList}">
                            <td>[[${dto.pno}]]</td>
                            <td>[[${dto.type}]]</td>
                            <td>
                                <a th:href="|@{/post/read(pno=${dto.pno},total=${dto.replyCount})}&${link}|" class="text-decoration-none">[[${dto.title}]]</a>
                                <span class="badge progress-bar-success" style="background-color: #0a53be">[[${dto.replyCount}]]</span>
                            </td>
                            <td>[[${dto.name}]]</td>
                            <td>[[${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm:ss')}]]</td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="float-start">
                        <ul class="pagination flex-wrap">
                            <li class="page-item" th:if="${responseDTO.prev}">
                                <a class="page-link" th:data-num="${responseDTO.start-1}"><<</a>
                            </li>
                            <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                                <li th:class="${responseDTO.page == i}?'page-item active':'page-item'" >
                                    <a class="page-link"  th:data-num="${i}">[[${i}]]</a>
                                </li>
                            </th:block>
                            <li class="page-item" th:if="${responseDTO.next}">
                                <a class="page-link"  th:data-num="${responseDTO.end + 1}">>></a>
                            </li>
                        </ul>
                    </div>
                </div><!--end card body-->
            </div><!--end card-->
        </div><!-- end col-->
    </div><!-- end row-->
</div>

<script layout:fragment="script" th:inline="javascript">
    document.querySelector(".pagination").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()
        const target = e.target
        if(target.tagName !== 'A') {
            return
        }
        const num = target.getAttribute("data-num")
        const formObj = document.querySelector("form")
        formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`
        formObj.submit();
    },false)

    document.querySelector(".clearBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()
        self.location ='/post/list'
    },false)

    const result = [[${result}]]
    if(result)
        alert(result)
/*    //show modal
    const modal = new bootstrap.Modal(document.querySelector(".modal"))
    if(result){
        modal.show()
    }*/
</script>
